.registros {
    border-radius: 5px;
    margin-left: 30px;
    background-color: white;
    width: 20em;
    height: 8em;
}

.registros p {
    font-size: 14pt;
    padding: 15px 20px;
    font-family: 'Courier New', Courier, monospace;
}

.registros h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* .registros:last-child {
    background-color: #FF872C;
    color: white;
} */