* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F2F5;
}

.header-background {
    width: 100%;
    height: 15em;
    background-color: #5636D3;
}

.header-background h1 {
    padding-left: 7.2em;
    padding-top: 30px;
    font-size: 32pt;
    color: white;
}

.total-saldo {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-bottom: 100px;
}



#cadastrar {
    margin-top: 20px;
    text-align: center;
}

#cadastrar input:not(:last-child) {
    margin-right: 80px;
}

button {
    border: 1px solid #5636D3;
    background-color: white;
    border-radius: 5px;
    font-size: 14pt;
    margin-top: 20px;
}



